body #burgermenu {
  display: flex;
  justify-content: right;
  align-content: flex-start;
  color: #d2d3de;
  text-align: right;
}
body #about-main-section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}
body #about-main-section h2 {
  color: #41edfa;
}
body #about-main-section img {
  color: #d2d3de;
}
body #about-main-section p {
  color: #d2d3de;
}

body #burgermenu {
  display: flex;
  justify-content: right;
  align-content: flex-start;
  color: #d2d3de;
  text-align: right;
}
body h2 {
  color: #41edfa;
}

body #burgermenu {
  display: flex;
  justify-content: right;
  align-content: flex-start;
}
body #burgermenu i {
  color: #d2d3de;
}
body #mainsection {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: space-around;
}
body #mainsection #h1-flex h1 {
  color: #d2d3de;
}
body #mainsection #h1-flex h1 .thirdColor {
  color: #41edfa;
}
body #mainsection #p-flex p {
  color: #41edfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  background-color: #171b83;
}