body {
  height: 100vh;
}
body .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  gap: 2rem;
  transition: 0.2s;
  transform: translateY(-100%);
}
body .showMenu {
  transform: translateY(0);
}
body .burgermenu__container {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}
body .burgermenu__container i {
  margin: 10px 10px;
  color: #d2d3de;
}
body .burgermenu__container #close {
  display: none;
}
body #h2-flex {
  display: flex;
  justify-content: center;
}
body #h2-flex h2 {
  color: #41edfa;
}
body #work-display {
  border: 1px solid #d2d3de;
}

body .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  gap: 2rem;
  transition: 0.2s;
  transform: translateY(-100%);
}
body .showMenu {
  transform: translateY(0);
}
body .burgermenu__container {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}
body .burgermenu__container i {
  margin: 10px 10px;
  color: #d2d3de;
}
body .burgermenu__container #close {
  display: none;
}
body #about-main-section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}
body #about-main-section h2 {
  color: #41edfa;
}
body #about-main-section img {
  color: #d2d3de;
}
body #about-main-section p {
  color: #d2d3de;
}

body {
  height: 100vh;
}
body .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  gap: 2rem;
  transition: 0.2s;
  transform: translateY(-100%);
}
body .showMenu {
  transform: translateY(0);
}
body .burgermenu__container {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}
body .burgermenu__container i {
  margin: 10px 10px;
  color: #d2d3de;
}
body .burgermenu__container #close {
  display: none;
}
body #h2-flex {
  display: flex;
  text-align: center;
  justify-content: center;
}
body #h2-flex h2 {
  color: #41edfa;
}
body .icon_grid {
  display: grid;
  align-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
body .icon_grid i {
  color: #d2d3de;
}

body .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  gap: 2rem;
  transition: 0.2s;
  transform: translateY(-100%);
}
body .showMenu {
  transform: translateY(0);
}
body .burgermenu__container {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}
body .burgermenu__container i {
  margin: 10px 10px;
  color: #d2d3de;
}
body .burgermenu__container #close {
  display: none;
}
body .burgermenu__items {
  display: none;
  color: #41edfa;
}
body .contact__h2 {
  color: #41edfa;
}
body .contact__icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
body .contact__icon-container i {
  color: #d2d3de;
}

body .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  gap: 2rem;
  transition: 0.2s;
  transform: translateY(-100%);
}
body .showMenu {
  transform: translateY(0);
}
body .burgermenu__container {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}
body .burgermenu__container i {
  margin: 10px 10px;
  color: #d2d3de;
}
body .burgermenu__container #close {
  display: none;
}
body #mainsection {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: space-around;
}
body #mainsection .h1__container h1 {
  color: #d2d3de;
}
body #mainsection .h1__container h1 .thirdColor {
  color: #41edfa;
}
body #mainsection .h1__container i {
  margin: 15px;
  color: #d2d3de;
}
body #mainsection .p__container p {
  color: #41edfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  background-color: #171b83;
}