@import "./assets/styles/_variables.scss";

//mobile 

body{
  .burgermenu__container {
    display: flex;
    justify-content: right;
    align-content: flex-start;
    #menu-icon{
      margin: 10px 10px;
      color: $secondarycolor;
    }
  }
#about-main-section{
height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: space-around;
text-align: center;

h2{
  color: $tertiarycolor;
}

img{
  color: $secondarycolor;
}
p{
  color: $secondarycolor;
}
}

}