@import "./assets/styles/_variables.scss";

body{

  .burgermenu__container {
    display: flex;
    justify-content: right;
    align-content: flex-start;
    i{
      margin: 10px 10px;
      color: $secondarycolor;
    }
    #close-menu-icon{
      display: none;
    }
   
  }
  .burgermenu__items{
    display: none;
    color: $tertiarycolor;
  }
  .contact__h2{
    color: $tertiarycolor;
  }
  .contact__icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    
    
    i{
      color: $secondarycolor;
    }
  }
  
}