@import "./assets/styles/_variables.scss";

//mobile
body{
  .burgermenu__container {
    display: flex;
    justify-content: right;
    align-content: flex-start;
    #menu-icon{
      margin: 10px 10px;
      color: $secondarycolor;
    }
   
  }

#mainsection {
  height: 100vh;
display: flex;
flex-wrap: wrap;
text-align: center;
align-content: space-around;


  .h1__container {

   

    h1 {
      color: $secondarycolor;

      .thirdColor {
        color: $tertiarycolor;
      }
    }
    i{
      margin: 15px;
      color: $secondarycolor;

    }
    
  }

  .p__container {
    

    p {
      color: $tertiarycolor;
    }
  }
}
}

//desktop
@media only screen and (min-width: 768px) {}