@import "./assets/styles/_variables.scss";

//mobile
body{
  #burgermenu {
    display: flex;
    justify-content: right;
    align-content: flex-start;
    i{
      color: $secondarycolor;
    }
   
  }

#mainsection {
  height: 100vh;
display: flex;
flex-wrap: wrap;
text-align: center;
align-content: space-around;


  #h1-flex {

   

    h1 {
      color: $secondarycolor;

      .thirdColor {
        color: $tertiarycolor;
      }
    }
  }

  #p-flex {
    

    p {
      color: $tertiarycolor;
    }
  }
}
}

//desktop
@media only screen and (min-width: 768px) {}